db.sqlite3
__pycache__
.idea
unifam/mysql.conf
*.pyc
.DS_Store
.vscode
unifam/settings-private.py
.coverage
config/~oracle.yml
config/oracle.yml
config/oracle_dw.yml
config/interpro.local.yml
config/mysql.yml
config/mysql_rel.yml
config/mysql_test.yml
config/~mysql.yml
*.db
*.iml
gunicorn.local.conf.py
geckodriver.log
