# remember to check the version is compatible with python 3.8
Django==4.2.19
djangorestframework==3.15.2
PyYAML==6.0
jsonfield2==4.0.0.post0
psycopg2-binary==2.9.10
django-cors-headers==4.3.1
gunicorn==22.0.0
django-redis==5.4.0
redis==5.0.4
requests==2.32.3
