# remember to check the version is compatible with python 3.6
Django==3.2.18
djangorestframework==3.13.1
PyYAML==6.0
jsonfield2==4.0.0.post0
pymysql==1.0.2
django-cors-headers~=3.10
gunicorn==20.1.0
django-redis==5.2.0
redis==4.4.4
requests~=2.27
