<!DOCTYPE html>
<html>
    <head>
        <title>UniFam{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static_files/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static_files/base.css" rel="stylesheet">

        {% block head %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <a href="{% url 'home' %}" class="proteins_link"><h1>UniFam</h1></a>
        <ul class="list-inline">
            <li><a href="{% url 'entries_page' %}" class="entries_link">Entry</a></li>
            <li><a href="{% url 'home' %}" class="proteins_link">Protein</a></li>
            <li><a href="{% url 'home' %}" class="structure_link">Structure</a></li>
            <li><a href="{% url 'home' %}" class="proteome_link">Proteome</a></li>
            <li><a href="{% url 'home' %}" class="pathway_link">Pathway</a></li>
            <li><a href="{% url 'home' %}" class="complexes_link">Complexes</a></li>
        </ul>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
