{% extends 'base.html' %}

{% block title %} - Entry - InterPro - {{filter}} - Pfam = {{family.pfama_acc}}{% endblock %}

{% block content %}
<h2>InterPro/{{filter}}/{{member}}/{{family.pfama_acc}}/active_sites:</h2>
    <!--TODO: Here all the entries of interpro should be listed -->
    <p>
        <!-- TODO: Get a table of the active sites for this family-->
        The seed consensus for this family is:
    </p>
    {% if active_sites %}
        <h4>Active Sites:</h4>
    <table class="table">
        <tr>
            <th>Seq ID</th>
            <th>Seq start</th>
            <th>Seq end</th>
            <th>Model start</th>
            <th>Model end</th>
            <th>Ali start</th>
            <th>Ali end</th>
            <th>Residues</th>
        </tr>
        {% for id,values in active_sites.proteins.items %}
        <tr>
            <td>{{id}}</td>
            <td>{{values.seq_start}}</td>
            <td>{{values.seq_end}}</td>
            <td>{{values.model_start}}</td>
            <td>{{values.model_end}}</td>
            <td>{{values.ali_start}}</td>
            <td>{{values.ali_end}}</td>
            <td><table class="table">
                {% for r in values.residues %}
                <tr>
                    <td>{{r.residue}}</td>
                    <td>{{r.annotation}}</td>
                </tr>
                {% endfor %}
            </table></td>
        </tr>
        <tr>
            <td colspan="8"><pre style="width: 800px;">{{values.alignment}}</pre></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
