h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    font-family: 'GothicCustom', 'Arial Narrow', sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 1px 1px #CCC;
}

.box {
    border: 1px solid lavender;
    width: 900px;
    height: 500px;
}